<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>nbednarz07@icloud.com</string>
	<key>artistId</key>
	<integer>284417353</integer>
	<key>artistName</key>
	<string>Apple</string>
	<key>bundleDisplayName</key>
	<string>Playgrounds</string>
	<key>bundleShortVersionString</key>
	<string>4.5.1</string>
	<key>bundleVersion</key>
	<string>1866.69</string>
	<key>copyright</key>
	<string>Copyright © 2024 Apple Inc. All rights reserved.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Education</string>
	<key>genreId</key>
	<integer>6017</integer>
	<key>hasOrEverHasHadIAP</key>
	<false/>
	<key>itemId</key>
	<integer>908519492</integer>
	<key>itemName</key>
	<string>Swift Playgrounds</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Apple</string>
	<key>product-type</key>
	<string>mac-os-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2016-09-13T18:18:22Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<false/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/39/b6/7c/39b67cf6-9654-48bf-6d6d-d04bb0f2a0df/PlaygroundsAppIcon-0-1x_U007emarketing-0-0-0-5-0-0-sRGB-85-220-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.apple.Playgrounds</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>865900890</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>668293657</integer>
		<integer>819184097</integer>
		<integer>819826996</integer>
		<integer>820032160</integer>
		<integer>820817660</integer>
		<integer>822408172</integer>
		<integer>823093103</integer>
		<integer>823765268</integer>
		<integer>825535027</integer>
		<integer>826738218</integer>
		<integer>826769051</integer>
		<integer>826822836</integer>
		<integer>829188138</integer>
		<integer>830313391</integer>
		<integer>832941686</integer>
		<integer>832976044</integer>
		<integer>833892497</integer>
		<integer>835136058</integer>
		<integer>836732249</integer>
		<integer>838360408</integer>
		<integer>840715999</integer>
		<integer>845826652</integer>
		<integer>846950238</integer>
		<integer>847527624</integer>
		<integer>849065584</integer>
		<integer>852951200</integer>
		<integer>853214861</integer>
		<integer>855752956</integer>
		<integer>857391091</integer>
		<integer>857474640</integer>
		<integer>860132445</integer>
		<integer>862025556</integer>
		<integer>864125281</integer>
		<integer>864707565</integer>
		<integer>864737435</integer>
		<integer>865900890</integer>
	</array>
	<key>userName</key>
	<string>nbednarz07@icloud.com</string>
	<key>vendorId</key>
	<integer>2003</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
